html, body {
	
	margin: 0;
	padding: 0;
}

.clearfix:after {
	
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	
	display: inline-block;
}


header {
	
	position: fixed;
	width: 100%;
	box-sizing: border-box;
	border: solid .6em white;
	background-color: rgb(145, 145, 145);
	color: white;
	padding: 0.8em;
	font-family: 'Kotta One', serif;
	font-size: 17px;
	cursor: pointer;
}

header a {
	
	color: darkblue;
	text-decoration: none;
}

header a:hover {
	
	text-decoration: underline;
}

header.fake {
	
	position: static;
	visibility: hidden;
}


label.instructions {
	
	display: none;
	font-family: 'Kotta One', serif;
	font-size: 17px;
	position: absolute;
	top: 18px;
	right: 18px;
	padding: 5px 10px;
	background: rgba(255, 255, 255, 0.3);
	color: white;
}


article {
	
	padding-bottom: 1.9em;
}


article div {
	
	font-family: "Alegreya SC", serif;
	width: 6.6em;
	margin: 0 0.6em 1.2em;
	float: left;
	background-color: rgb(245, 245, 245);
	padding: 1.2em;
}

article div span {
	
	display: block;
	font-size: 20px;
	line-height: 0.9em;
	margin-bottom: 0.3em;
	white-space: nowrap;
}

span.boxcars {
	
	color: blue;
}

span.boxcars::after {
	
	content: "boxcars";
	margin-left: .5em;
	font-weight: bold;
	font-style: italic;
	font-size: 18px;
}

article div label {
	
	font-weight: bold;
	font-size: 17px;
}

article div label.won {
	
	color: green;
}

article div label.lost {
	
	color: red;
}

footer {
	
	position: fixed;
	display: none;
	width: 100%;
	box-sizing: border-box;
	bottom: 0px;
	padding: 10px;
	font-family: 'Kotta One', serif;
	font-size: 19px;
	color: white;
	background-color: rgb(48, 48, 48);
	-webkit-transition: background-color 200ms;
	transition: background-color 200ms;
}

footer.won {
	
	background-color: green;
}

footer.lost {
	
	background-color: red;
}